<div class="top-bar">
        <div class="top-bar-title">Admin Area</div>
        <div>
            <ul class="menu">
                <li class="admin-menu"><a [routerLink]="['/admin/blog-admin']">Manage Blog</a></li>
            </ul>
        </div>
        <div *ngIf="theUser" class="top-bar-right">
            <ul class="menu">
                <li class="admin-menu" (click)="logout()"><a href="#">logout</a></li>
                <li class="admin-menu"><a>User: {{theUser}}</a></li>
            </ul>            
        </div>
</div>

<div class="row expanded">
    <img class="hero" src="../adminShared/images/code.jpg" >
</div>

<div class="row align-center">
    <h2>Welcome to Admin Area for blog system and shopping cart</h2>
    <h3>This area is for authorised users only.</h3>
</div>