<div class="top-bar">
        <div class="top-bar-title">Admin Area</div>
        <div>
            <ul class="menu">
                <li class="admin-menu"><a (click)="chooseMode('add')">Add Post</a></li>
                <li *ngIf="menuChoice" class="admin-menu"><a (click)="chooseMode('')">Manage Blogs</a></li>
                <li class="admin-menu"><a [routerLink]="['/admin']">Back to Admin</a></li>
            </ul>
        </div>
        <div *ngIf="theUser" class="top-bar-right">
            <ul class="menu">
                <li class="admin-menu" (click)="logout()"><a href="#">logout</a></li>
                <li class="admin-menu"><a>User: {{theUser}}</a></li>
            </ul>            
        </div>
</div>

<div class="row align-center" [ngSwitch]="menuChoice" >
    <div *ngSwitchCase="'add'" ><blog-add > </blog-add></div>
    <div *ngSwitchDefault><h1>Default</h1></div>
</div>